/*
Created by Bartosz Kosakowski
Contains the style of Bart's Books
*/

/*background colour for the main page*/
body {
	background-color: #F8ECC2;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-style: solid;
	border-color: #993399;
	padding-left: 20px;
	padding-right: 20px;
}

.sitecontents, #pagetitle, p {
	font-family: Garamond;
	color: black;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	font-style: italic;
}

#pagetitle {
	border-style: solid;
	border-color: #993399;
	margin-left: 43%;
	margin-right: 43%;
}

#mainImg {
	height: 200px;
	width: 250px;
	position: relative;
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 10px;
}

#pagetitle {
	text-align: center;
}

.sitecontents {
	display: grid;
	grid-template-columns: 20%;
	grid-template-rows: 8% 20%;
	/*grid-row-gap: 10px;*/
}

#bookform {
	display: inline-block;
	align-self: center;
	background-color: orange;
}

#pagedesc {
	background-color: green;
}
