/*
Created by Bartosz Kosakowski
Contains the style of Bart's Books
*/

/*background colour for the main page*/
body {
	background-color: #F8ECC2;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	/*border-style: solid;
	border-color: #993399;*/
	padding-left: 20px;
	padding-right: 20px;
}

.sitecontents, #pagetitle, #bookinfo, p {
	font-family: "Courier New"; /*Garamond;*/
	color: black;
}

ul {
	list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	font-style: italic;
}

#pagetitle {
	border-style: none none solid none;
	border-color: #993399;
	/*border-radius: 0px 0px 20px 20px;*/ /*this makes a kinda cool effect but it's not really worth keeping*/
	margin-left: 40%;
	margin-right: 40%;
	text-align: center;
	font-style: italic;
}

#mainImg {
	height: 200px;
	width: 250px;
	border-style: solid;
	border-color: #993399;
	border-width: 1px;
	border-radius: 250px;
	position: relative;
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 10px;
}

.sitecontents {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 8% 20%;
	/*margin-right: 80%;*/
	border-style: solid;
	border-width: 2px;
	border-color: #993399;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	max-height: 500px;
}

#bookform {
	display: flex;
	/*align-items: center;*/
	justify-content: center;
}

button {
	font-size: 1em;
}

#pagedesc {
	border-bottom: 3px dotted #993399;
	padding-bottom: 12px;
}

#sitegrid {
	display: grid;
	grid-template-columns: 20% 20%;
	grid-column-gap: 20%;
}

#booklist {
	justify-content: center;
	overflow: auto;
    overflow-y: scroll;
    max-height: 450px;
}

/*divs with the below id's are created by the js file*/
#bookinfo {
	border-left: 6px solid #993399;
}
/*book title*/
#info0 {
	font-style: italic;
	text-transform: uppercase;
}
/*book author*/
#info1 {
	text-transform: capitalize;
}
/*rating*/
/*#info2 {
	
}*/
/*comments about the book*/
/*#info3 {
	
}*/

/*these elements are for the scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}